## .NET
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.user
*.suo
.vs/
.idea/
.vscode/

## NuGet Packages
*.nupkg
**/packages/*

## Databases and Backups
*.mdf
*.ldf
*.bak
*.backup
*.db
*.sqlite

## Secrets and Local Environment settings
*.pfx
appsettings.Production.json
appsettings.local.json
databaseSettings.local.json
ApiSettings.local.json
Servitore.Desktop/ApiSettings.json
Servitore.API/appsettings.Development.json
.env
.env.*

## Logs and diagnostics
*.log
api.log
desktop.log

